
.chart-wrapper {
  background: white;
  flex: 1;
  height: 82vh;
}
.Squares {
  background-color: #00138f;
  background-image: url('../../helpers/pics/bright-squares.png');
}
.Paper {
  background-color: rgb(199, 218, 218);
  background-image: url('../../helpers/pics/beige-paper.png');
}
.Diamonds{
  background-color: rgb(72, 41, 82);
  background-image: url('../../helpers/pics/diamond-upholstery.png');
}
.Brick{
  background-color: rgb(128, 17, 17);
  background-image: url('../../helpers/pics/brick-wall.png');
}

.None{
  background: white;
}

.chart-inner-wrapper {
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 800px;

  overflow: auto;
}

.scatterplot_flex_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.custom_title {
  font-size: 2rem;
  
  margin: 0 auto;
  overflow: scroll;
  text-align: center;
}