
.geo-wrapper {
  /* background: white; */
  /* height: 500px; */
  margin: 2rem auto;
  width: 95vw;
}
.geo-svg {
  background: rgba(0, 255, 255, 0.75);
  fill: teal;
  stroke: black;
}
/* .rt-info-banner-wrapper {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
} */