
.main_wrapper {
  height: 100%;
  width: 100%;
}
.splash-wrapper {
  background: #555;
  background-image: url('../assets/black-thread-light.png');
  height: 200vh;
  margin: 0 auto;
}

.splash-text {
  color: antiquewhite;
  font-size: 7vw;
  padding: 100px 0 0;
}