
.popConfig_open_wrapper {
  background: steelblue;
  height: 100%;
  width: 300px;
}

.popConfig_closed_wrapper {
  background: steelblue;
  border-left: 3px solid #333;
  height: 100%;
  width: 75px;
}