
.population_chart_wrapper {
  height: 80vh;
}

.view_wrapper {
  background:
  radial-gradient(circle at 0% 50%, rgba(192, 32, 96, 0) 36px, 
  rgba(126, 121, 123, 0.2) 40px, rgba(192, 32, 96, 0) 11px) 0px 40px,
  radial-gradient(at 100% 100%, rgba(56, 47, 51, 0) 36px, 
  rgba(126, 121, 123, 0.2) 40px, rgba(192, 32, 96, 0) 44px),
  rgba(193, 194, 191, 0.3);
  background-size: 80px 80px;
  display: flex;
  height: 70vh;
}