
.right_control_wrapper {
  display: flex;
  flex: 0 0 400px;
  /* height: 85vh; */
}

.right_open_panel_wrapper {
  align-items: center;
  border: 1px solid black;
  box-shadow: -3px 3px 3px rgb(35, 35, 35);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 130px;
  /* height: 82vh; */
}
  
.right_control_box {
  align-items: center;
  box-shadow: -3px 3px 3px rgb(35, 35, 35);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;
}

.right_control_header {
  font-size: 2rem;
  
}

p {
  font-size: 1.5rem;
}

input, select, label, option {
  font-size: 2rem;
}

.selected_state_button {
  background: goldenrod;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(87, 84, 84);
  font-size: 1.5rem;
}

.create_chart_button {
  background: rgb(104, 101, 101);
  border: 2px solid rgb(131, 196, 196);
  color: rgb(131, 196, 196);
  font-size: 2rem;
  padding: 5px;
  text-shadow: 2px 2px 2px rgb(87, 84, 84);
}

/* CLOSED STYLES */

.right_closed_panel_wrapper {
  align-items: center;
  box-shadow: -3px 3px 3px rgb(35, 35, 35);
  display: flex;
  flex: 0 0 130px;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0;
}

.icon_wrapper {
  text-align: center;
}

.icon_wrapper :hover {
  color: goldenrod;
}