
.right_control_wrapper {
  display: flex;
  height: 85vh;
  width: 400px;
}

.right_open_panel_wrapper {
  align-items: center;
  box-shadow: -5px 5px 5px rgb(35, 35, 35);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0;
  width: 130px;
  height: 85vh;
}
  
.right_control_box {
  align-items: center;
  box-shadow: -5px 5px 5px rgb(35, 35, 35);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0;
  text-align: center;
}

.right_control_header {
  font-size: 3rem;
  
}

.right_select_main {
  font-size: 3rem;
}

.right_options_main {
  font-size: 3rem;
  margin: 10px 40px;
}

p {
  font-size: 3rem;
  margin: 30px;
}

input, select, option {
  font-size: 2rem;
}

/* CLOSED STYLES */

.right_closed_panel_wrapper {
  align-items: center;
  box-shadow: -5px 5px 5px rgb(35, 35, 35);
  display: flex;
  /* display: 1 1 auto; */
  flex-flow: column;
  justify-content: flex-start;
  margin: 0;
  width: 130px;
  height: 85vh;
}

.icon_wrapper {
  padding-bottom: 40px;
  text-align: center;
}

.icon_wrapper :hover {
  color: goldenrod;
}