
.subBanner-wrapper {
  height: 5rem;
}

.icon-group {
  align-items: center;
  background: silver;
  display: flex;
  justify-content: space-around;
}

.sub-icon-active-false {
  color: steelblue;
}

.sub-icon-active-false:hover {
  color: rgb(228, 155, 20);
}

.sub-icon-active-true svg {
  color: rgb(228, 155, 20);
}

.save-chart {
  background: #444;
  border: 2px solid rgb(219, 173, 57);
  border-radius: 5px;
  color: rgb(219, 173, 57);
  font-size: 6vh;
}