
.welcome_wrapper {
  background: rgb(37, 37, 37);
  height: 100vh;
  width: 100vw;
}



.buttons_welcome_wrapper {

}

.button_i_choose {
  background: darkcyan;
  color: white;
  font-size: 12vh;
  
}

.button_random {
  background: darkcyan;
  color: white;
  font-size: 12vh;
  
}