
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  align-items: center;
  background: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.app-display {
  align-items: center;
  background: rgb(39, 37, 37);
  display: flex;
  height: 90%;
  justify-content: space-evenly;
  width: 90%;
}

.window-button-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  width: 60%;
}

.app-button-group {
  align-items: center;
  background-image: linear-gradient(magenta, rgb(134, 4, 134));
  display: flex;
  height: 20%;
  justify-content: space-evenly;
  width: 100%;
}
.app-button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1vw;
  cursor: pointer;
  font-size: 3vw;
  height: 50%;
  width: 35%;
}


.window-group {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* LOGGER */
.logger-wrapper {
  height: 80%;
  width: 30%;
}

.logger-name {
  color: white;
  height: 10%;
  font-size: 4vw;
  text-align: center;
}

.logger-output {
  background: white;
  display: flex;
  flex-direction: column;
  height: 90%;
  font-size: 1.5vw;
  overflow: scroll;
}

.log {
  display: inline-block;
  margin: 1vw auto;
}

/* WINDOWS */
.A-wrapper {
  background-image: linear-gradient(cyan, rgb(1, 133, 133));
}

.B-wrapper {
  background-image: linear-gradient(lime, rgb(2, 136, 2));
}

.basic-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1vw;
  width: 60%;
}

.basic-name {
  font-size: 6vw;
}
.basic-count {
  font-size: 3vw;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-group button {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1vw;
  cursor: pointer;
  font-size: 6vw;
  margin: 2vw 0 1vw;
  width: 35%;
}